.container {
  max-width: 1284px;
  margin: 0 auto;
  background-color: lavender;
  font-family: "Open Sans", serif;
}

.flex-container {
  display: flex;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header img {
  padding: 18px 0px;
  max-height: 80px;
  max-width: auto;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0px;
}

.main-nav ul li a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  padding: 48px 0px;
  border-bottom: 6px solid white;
}

.main-nav ul li a:hover {
  color: #0c7cec;
  border-bottom: 6px solid #0c7cec;
}